<div class="container">
<h1>About</h1>

<p>
    Marnie Sorensen is an Interior Designer with offices in Sarasota, Florida (Since 2004) and Raleigh, North Carolina (Since 2020). Her work has earned her several awards from prestigious design publications. In addition to serving private clients, she has worked with a number of builders in Central and South Florida regions. 
</p>

<p>
Marnie is also a preferred consultant for Lee Wetherington Homes, envisioning and executing the interior design for some of their most captivating custom homes. 
</p>

<p>
Marnie is a Florida native. She comes from a family of architects and builders with deep roots in Florida. She is an active member of the community.
</p>
</div>